<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <body>
    <h1>Welcome to the Profile Page</h1>
 
    {% if doc %}
        {% if data == "Advocate" %}
            <h2>Profile of {{ doc.advocate_name }}</h2>
            <br>
            <a href="/law/{{ doc.doctype }}">⬅ Back to {{ doc.doctype }} List</a>
 
        {% elif data == "Client" %}
            <h1>{{ doc.client_name }}</h1>
 
        {% elif data == "Case" %}
            <h1>{{ doc.client }}</h1>
 
        {% elif data == "Bail" %}
            <h1>{{ doc.advocate }}</h1>
        {% elif data == "Case Details" %}
            <h1>{{ doc.client_name}}</h1>
        {% elif data == "Client Consultation" %}
            <h1>{{ doc.advocate}}</h1>
        {% elif data == "Case Assignment" %}
            <h1>{{ doc.case_title }}</h1>
        {% else %}
            <h2>Unknown doctype: {{ data }}</h2>
        {% endif %}
    {% else %}
        <h2>No record found</h2>
        <a href="/law">⬅ Back to Doctype List</a>
    {% endif %}
</body>
 
 
 
</body>
</html>